<section class="section">
  <div class="container">
    <div class="column is-left is-one-third">

      <% @events.each do |event| %>
        <ul>
          <li><%= link_to event.title, event %></li>
          <li><%= event.description %></li>
          <li><%= event.date %></li><br>
        </ul>
      <% end %>

      <%= link_to "Create a New Event", new_event_path %>

    </div>
  </div>
</section>
